nb<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
    <div th:replace="fragments :: header"></div>

    <div id="land" class="container">
        <h1 class="display-5">Welcome to AdaCodes/LovelaceJobs!</h1>
        <h3 class="lead">Helping women tackle the tech-job marketplace.</h3>
        <button type="button" class="btn btn-info">Learn More</button>
        <button type="button" class="btn btn-info">Create Account</button>
        <br>
        <br>
        <blockquote class="blockquote text-center">
            <p class="mb-0">"The more I study, the more insatiable do I feel my genius for it to be."</p>
            <footer class="blockquote-footer"><cite title="Source Title">Ada Lovelace</cite></footer>
        </blockquote>
    </div>

</body>
</html>